.Cuadrado1{width:100px;
height:120px;
border: 10px 10px 10px 10px;
}
body{
margin:0;
padding:30px;
font-family: Arial, Helvetica, sans-serif;
    
}
.container{background-image: url(gato.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
display:flex;
flex-wrap: wrap;
height: 100%;
width:100%;
gap: 20px;
border: 20px;
margin: 10px}

.principal{
flex: 0 0 100%;
width: 60%;
box-sizing: border-box;
background-color: aqua;
overflow: auto;
padding: 10px;
border: 10px;
border-radius: 50px;
}

.segundario{
width: 40%;
flex: 0 0 100%;
box-sizing: border-box;
background-color: aqua;
border-color: red;
padding: 20px;
border: 10px;
border-radius: 50px;}

.contenedor{
color: red;
transition: 2s color;}

.contenedor:hover{
    color:aqua;
}



    /* Dos por fila en pantallas medianas */
    @media (min-width: 600px) {
      .principal {
        flex: 0 0 48%; /* Aproximadamente la mitad con un poco de espacio */
      }
    .segundario {
        flex: 0 0 48%; /* Aproximadamente la mitad con un poco de espacio */
      }
    }

    /* Cuatro en una fila en pantallas grandes */
    @media (min-width: 900px) {
      .principal {
        flex: 0 0 23%; /* Aproximadamente un cuarto con espacio */
      }
                      .segundario {
        flex: 0 0 48%; /* Aproximadamente la mitad con un poco de espacio */
      }
    }